:root {
	--light-grey-text: #858585;
	--border-grey: #d1d5da;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #fff;
}

main {
	display: flex;

	max-width: 70%;
	margin: 0 auto;
	width: 100%;
	background-color: rgb(255, 255, 255);
}

.left {
	background-color: rgb(255, 255, 255);

	width: 30%;
	margin-top: 2rem;
}

.left h2,
h4 {
	font-weight: 300;
}

.left a {
	display: block;
	text-align: center;
	width: 80%;
	background: #f5f5f5;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid var(--border-grey);
	color: #333;
}

.left a:hover {
	background: #e4e4e4;
}

.right {
	background-color: rgb(255, 255, 255);

	width: 70%;
}

/*-------------Top Header Section--------------- */

header {
	height: 60px;
	width: 100%;
	background-color: #24292e;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left-header {
	display: flex;
	align-items: center;
	width: 55%;
	justify-content: space-around;
}

.left-header a:hover {
	color: rgb(185, 185, 185);
}
.left-header input {
	width: 35%;
	padding: 5px;
	border-radius: 3px;
	border: none;
	background-color: hsla(0, 0%, 100%, 0.125);
	color: #fff;
}
.left i {
	color: grey;
}
.left-header div {
	color: #fff;
}

.left-header ul {
	display: flex;
	justify-content: space-evenly;
	padding: 0;
	width: 50%;
}

.left-header li {
	font-size: 0.8rem;
	margin: 0 5px;
}

.left-header ul {
	display: flex;
}

.left img {
	width: 60%;
}

.right-header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 5%;
	margin-right: 1rem;
}
.right-header div img {
	height: 100%;
	width: 100%;
}
.right-header > div {
	height: 20%;
	background-color: #fff;
}

.tiny-pic {
	height: 25px;
}
.city-location {
	display: flex;
	align-items: center;
	width: 30%;
	justify-content: space-evenly;
}
.city-location h5 {
	font-weight: 400;
	font-size: 0.9rem;
}
.city-location i:hover {
	color: rgb(126, 126, 126);
}

i {
	color: #fff;
	vertical-align: bottom;
	text-align: center;
}
i:hover {
	color: rgb(182, 182, 182);
	vertical-align: bottom;
}
/*------------nav section-------------*/
nav {
	width: 100%;
}
.nav-ul {
	display: flex;
	width: 100%;
	list-style: none;
	justify-content: space-between;
	padding: 0;
	margin: 1rem 0 0.5rem;
	align-items: center;
	height: 40px;
	padding-bottom: 5px;
}

.nav-ul a {
	text-decoration: none;
	color: var(--light-grey-text);
	font-weight: 300;
	font-size: 0.9rem;
	padding: 10px;
}

.nav-ul a:hover {
	color: rgb(37, 37, 37);
}

/*-------Repo Section---------*/
.divider {
	border: none;
	height: 1px;
	width: 100%;
	background-color: var(--border-grey);
	margin: 0 0 0.5rem;
}

.repo-titles,
.history-titles,
.contribution-titles {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0.9rem;
}
.repo-titles h4 {
	margin: 0.4rem 0;
	color: rgb(10, 10, 10);
}
.repo-titles a,
.history-titles a {
	font-weight: 400;
	font-size: 0.8rem;
	color: var(--light-grey-text);
}

.repos {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.repos-left {
	width: 49%;
}

.repos-right {
	width: 49%;
}
.repo-item {
	border-radius: 4px;
	background-color: #fff;
	margin: 3px 0px 15px;
	border: 1px solid #d1d5da;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
}

.repo-item p {
	margin: 0.5rem 0 1rem;
	color: var(--light-grey-text);
	font-size: 0.8rem;
}

.repo-item a {
	color: rgb(86, 53, 233);
	font-size: 0.9rem;
	font-weight: 700;
}
.repo-item a:hover {
	text-decoration: underline;
}
.repo-type-container {
	display: flex;
	align-content: center;
	flex-direction: row;
	height: 12px;
}

.repo-type-container > div {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: red;
	margin-right: 3px;
}
.repo-type-container span {
	height: 100%;
	font-size: 10px;
}

.item4 > div {
	background-color: yellow;
}

.item6 > div {
	background-color: purple;
}
.repo-titles a:hover,
.history-titles a:hover,
.contribution-titles a:hover {
	color: rgb(126, 126, 255);
}
/* -----------History---------------- */

.history-container {
	display: flex;
	flex-direction: column;
}

.history-months-container {
	display: flex;
	width: 80%;
	margin: 0 auto;
}

.history-months {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 5px;
}

.history-months li {
	color: rgb(116, 116, 116);
	font-size: 0.6rem;
}
.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 100%;
	border: 1px solid #d1d5da;
	background-color: rgb(255, 255, 255);
	height: 170px;
	border-radius: 3px;
}

.height {
	height: 95%;
}
.history {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60%;
}

.history-titles h4 {
	margin-bottom: 0.7rem;
}

.history-divs {
	height: 100%;
	width: 80%;
	display: grid;
	grid-template-columns: repeat(52, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-gap: 1px;
}
.history-item {
	background-color: rgb(219, 219, 219);
}

.history-item:hover {
	background-color: rgb(5, 61, 5);
}

.history-bottom {
	width: 90%;
	display: flex;
	justify-content: space-between;
	padding: 0 45px 15px;
}

.history-h5 {
	margin: 0;
	color: rgb(73, 73, 248);
	font-weight: 400;
	font-size: 0.7rem;
}

.history-h5:hover {
	text-decoration: underline;
}

.history-diagram {
	display: flex;
	font-size: 0.7rem;
}

.histBox {
	height: 13.5px;
	width: 12.5px;
	border-radius: 2px;
	margin: 0 2px;
}
.color-box-1 {
	background-color: rgb(212, 212, 212);
}
.color-box-2 {
	background-color: #89cf8d;
}
.color-box-3 {
	background-color: #51c468;
}
.color-box-4 {
	background-color: #2a6b2f;
}
.color-box-5 {
	background-color: #062908;
}
.days-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.days-div ul {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	margin: 0;
	padding: 0;
}

.days-div li {
	font-size: 0.6rem;
	padding-right: 1rem;
	color: rgb(170, 170, 170);
}

/* -----------Contribution-------------- */

.contribution-titles a {
	color: #fff;
	background-color: rgb(65, 65, 255);
	padding: 8px 24px;
	border-radius: 3px;
	font-size: 0.8rem;
}
.contribution-titles a:hover {
	color: #fff;
}
*----------Footer-------------*/ i {
	height: 40px;
}
footer {
	width: 100%;
	margin-top: 2rem;
}

.footer-div {
	width: 55%;
	margin: 0 auto;
	padding-top: 1rem;
	border-top: 1px solid var(--border-grey);
}
.footer-ul {
	display: flex;
	justify-content: space-evenly;
	padding: 0;
}

.footer-item a {
	color: rgb(120, 120, 252);
}
.footer-item {
	font-size: 0.8rem;
}

.footer-divider {
	border: none;
	height: 1px;
	width: 100%;
	background-color: var(--border-grey);
	margin: 0 auto;
}

.greyIcon {
	color: grey;
}
